/* map.css */
.current-location-icon {
    color: #FF0000; /* Replace with your desired color */
    font-size: 24px; /* Replace with your desired font size */
  }
  
  body {
    background: white;
    position: relative;
  }
  
  #map {
    height: 900px;
    width: 100%;
    z-index: 0;
  }
  
  #cardContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200px;
    background-color: white;
  }
  